.build/
.swiftpm/
DerivedData/
*.xcuserstate
.DS_Store
Examples/SelectionServer/.env.local
Examples/SelectionServer/.env
.env
**/.dart_tool/
**/.gradle/
**/build/
**/node_modules/
**/pubspec.lock
*.tgz
android/out/
