JAKE_PUBLIC_KEY=replace_with_application_public_key
JAKE_APPLICATION_SECRET=replace_with_application_secret
# JAKE_API_BASE_URL=https://app.tryjake.ai
# DEVELOPMENT_APP_SESSION=local-development-session
